<h1>NBP Exchanges Service</h1>
<form>
  <label for="currency">Select a currency:</label>
  <select id="currency" name="currency" [(ngModel)]="selectedCurrency">
    <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
  </select>

  <br><br>
  <label>Date:</label>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date" name="date" id="date" [matDatepickerFilter]="weekdayFilter">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
    <br><br>


  <label>Number of Records:</label>
  <input [(ngModel)]="numberSelected" [formControl]="numberFormControl" name="numberSelected"/>
<div *ngIf="numberFormControl.invalid && (numberFormControl.dirty || numberFormControl.touched)">
  <div *ngIf="numberFormControl.errors?.['required']">Number is required for "Get Min Max" and "Get Major Difference".</div>
  <div *ngIf="numberFormControl.errors?.['min']">Number should be greater than or equal to 1.</div>
  <div *ngIf="numberFormControl.errors?.['max']">Number should be less than or equal to 255.</div>
</div>


  <br><br>
  <button type="button" (click)="getExchangeRate()">Get Average Rate</button>
  <button type="button" (click)="getMinMax()">Get Max Min Average</button>
  <button type="button" (click)="getMajorDiff()">Get Major Difference</button>

<div *ngIf="averageRate" class="answer">
  <p>Average Rate: {{averageRate}}</p>
</div>
<div *ngIf="minMax" class="answer">
  <p>Min Max Average: {{minMax}}</p>
</div>
<div *ngIf="majorDiff" class="answer">
  <p>Major Difference: {{majorDiff}}</p>
</div>
</form>
